#root {
  background-color: rgb(34, 30, 43);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*------------------------------------------------------*/

.navbar{
  background-color: rgb(20, 14, 35);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  height:55px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.99);
}

.navbar-links{
  padding-left: 1%;
  display: flex;
  color: greenyellow;
  align-items: center;
  align-content: center;
  padding-top: 10px;
}

.homepage-link{
  color: greenyellow;
  /*text-decoration: none;
  border: 1px solid transparent; 
  transition: border-color 0.3s; */
}

.homepage-link:hover{
  color: rgb(200, 200, 200);
  border-color: greenyellow;
}

.create-link{
  color:  rgb(171, 255, 46);
}

.create-link:hover{
  color: rgb(200, 200, 200);
}

.favourites-link{
  color:  greenyellow;
}

.favourites-link:hover{
  color: rgb(200, 200, 200);
}

.get-link{
  color:  greenyellow;
}

.get-link:hover{
  color: rgb(200, 200, 200);
}

.corner-meme{
  width: 26px;
  height: 26px;
  margin-left: 10px;
  margin-top: 13px;
  display: flex;
  align-content: center;
}

/*------------------------------------------------------*/

.home-page{
  width: 100%;
  height: 700px;
}

.home-title{
  color: greenyellow;
  margin-top: 30px;
  
}

.home-description{
  color: rgb(200, 200, 200);
  margin-bottom: 70px;
}


.homepage-link{
  color: greenyellow;
  margin-left: 5px;
  margin-top: 5px;
  /*text-decoration: none;
  border: 1px solid transparent; 
  transition: border-color 0.3s; */
}

/*.homepage-link:hover{
  color: rgb(200, 200, 200);
  border-color: greenyellow;
}*/

.get-home-button{
  color: greenyellow;
  border: 1px solid rgb(200, 200, 200);
  background-color: transparent;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.99);
  margin-top: 90px;
}

.get-home-button:hover{
  color: rgb(200, 200, 200);
}

.home-logo-image{
  width:150px;
  height:150px;
  margin-top:130px;
}

.get-link{
  color:  greenyellow;
  margin-left: 10px;
}

.get-link:hover{
  color: rgb(200, 200, 200);
}

.create-link{
  color:  greenyellow,
}

.create-link:hover{
  color: rgb(200, 200, 200);
}

.favourites-link{
  color:  greenyellow;
  margin-right: 10px;
}

.favourites-link:hover{
  color: rgb(200, 200, 200);
}

.get-header{
  margin-top: 70px;
  color: rgb(200, 200, 200);
}

.meme-blank{
  display: grid;
  max-width: 85%;
  padding-left: 7%;
  grid-template-columns: repeat(4, minmax(auto, 12fr));
  /* grid-template-rows: repeat(4, minmax(auto, 12fr));*/
  gap: 15px;
  row-gap: 2px;
}

.get-card{
  background-color: rgb(20, 14, 35); /* Background color for the card */
  margin-top: 15%;
  border: 1px solid rgb(20, 14, 35);
  border-radius: 8px; /* Rounded corners for the card */
  padding: 11px; /* Padding inside the card */
  box-shadow: 0 0px 7px rgb(20, 14, 35);
  height: 88%;
  transition: background-color 0.2s, border 0.1s;
}

.get-card:hover{
  background-color: rgb(33, 25, 53);
  border: 1px solid greenyellow;

}

.meme-blank-img{
  max-width: 100%;
  min-height: 175px;
  max-height: 175px;
  margin-top: 1px;
  margin-bottom: 31px;
  box-shadow: 0 0px 10px rgb(52, 47, 66);
  border-radius: 8px;
  height: auto;
  object-fit: cover;
}

.get-button{
  color: rgb(200, 200, 200);
  margin-top: 23px;
  margin-bottom: 20px;
  border: 2px solid rgb(52, 47, 66);
  background-color: transparent;
  padding: 7px;
  border-radius: 8px;
  box-shadow: 0 0px 7px rgb(52, 47, 66);
}

.get-button:hover{
  color: greenyellow;

}

/*------------------------------------------------------*/


.create-main{
  display: flex; 
  flex-direction: column;
  padding-top: 10px;
  height: 690px;
  /*border: 1px solid grey;*/
}

.create-imgbox{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 440px;
} 

.create-img{
  max-width: 100%;
  max-height: 100%;
  border: 2px solid rgb(20, 14, 35);
  box-shadow: 0 0px 20px rgb(13, 9, 23);
  border-radius: 7px;
  /*border: 1px solid grey;*/
}

.create-header{
  color: #e9ffc9;

}

.create-form{
  margin-top: 50px;

}

.create-button{
  margin-top: 10px;
  height: 45px;
  width: 300px;
  color: rgb(200, 200, 200);
  border: 2px solid rgb(52, 47, 66);
  background-color: transparent;
  padding: 9px;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgb(52, 47, 66);
  /*border: 1px solid grey;*/
}

.create-button:hover{
  background-color: transparent;
  border: 1px solid greenyellow;
  box-shadow: 0 0px 4px greenyellow;
}

/*------------------------------------------------------*/

.mymemes-main{
  display: flex; 
  justify-content:space-between; /*flex-direction*/
  margin-top: 15px;
  height: 685px;
  /*border: 1px solid grey;*/
}

.mymemes-created{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  /*border: 1px solid grey;*/
  
}

.mymemes-header{
  color: #e9ffc9;
  /*border: 1px solid grey;*/
}

.created-memes{
  /*height: 650px;*/
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 30px;
  background-color: rgb(52, 47, 66);
  border: 3px solid rgb(52, 47, 66);
  box-shadow: 0 0px 15px rgb(17, 12, 29);
  overflow-y: scroll;
  height: 680px
  /* border: 1px solid grey;*/
}

.created-header{
  color: greenyellow;
}

.saved-memes{
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width:150px;
  border: 1px solid rgb(20, 14, 35);
  box-shadow: 0 0px 10px rgb(17, 12, 29);
  margin-top: 15px;
  margin-left: 18%;
  /*border: 1px solid grey;*/
}

.saved-memes:hover{
  background-color: transparent;
  border: 1px solid greenyellow;
  box-shadow: 0 0px 2px greenyellow;
}

.selected-section{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  /*border: 1px solid grey;*/
}

.selected-meme{
  max-width: 100%;
  max-height: 100%;
  border: 2px solid rgb(20, 14, 35);
  box-shadow: 0 0px 20px rgb(13, 9, 23);
  border-radius: 7px;
  /*border: 1px solid grey;*/
}

.selectedmeme-box{
  display: flex;
  justify-content: center;
  height: 450px;
  width: 800px;
  margin-bottom: 20px;
  /*border: 1px solid grey*/
}

.fav-button{
  margin-top: 10px;
  height: 45px;
  width: 300px;
  color: rgb(200, 200, 200);
  border: 2px solid rgb(52, 47, 66);
  background-color: transparent;
  padding: 9px;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgb(52, 47, 66);
  /*border: 1px solid grey;*/
}

.fav-button:hover{
  background-color: transparent;
  border: 1px solid greenyellow;
  box-shadow: 0 0px 4px greenyellow;
}

.delete-button{
  margin-top: 10px;
  height: 45px;
  width: 300px;
  color: rgb(200, 200, 200);
  border: 2px solid rgb(52, 47, 66);
  background-color: transparent;
  padding: 9px;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgb(52, 47, 66);
  /*border: 1px solid grey;*/
}

.delete-button:hover{
  background-color: transparent;
  border: 1px solid greenyellow;
  box-shadow: 0 0px 4px greenyellow;
}

.fav-section{
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-top: 30px;
  background-color: rgb(52, 47, 66);
  border: 3px solid rgb(52, 47, 66);
  box-shadow: 0 0px 15px rgb(17, 12, 29);
  overflow-y: scroll;
  height: 680px;
  /* border: 1px solid grey;*/
}

.favourites-header{
  color: greenyellow;
}

.fav-images{
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width:150px;
  border: 1px solid rgb(20, 14, 35);
  box-shadow: 0 0px 10px rgb(17, 12, 29);
  margin-top: 15px;
  margin-left: 18%;
  /*border: 1px solid grey;*/
}

.fav-images:hover{
  background-color: transparent;
  border: 1px solid greenyellow;
  box-shadow: 0 0px 2px greenyellow;
}
/*------------------------------------------------------*/

/*.created-image{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 250px;
  display: flex;
  align-items: center;
  padding-right: 595px;
  border: 1px solid grey;
}  */

/*.saved-images{
  height: 90px;
  max-height: 70px;
  max-width: calc(90%);
  border: 7px solid greenyellow;
  margin-bottom: 5px;
  /*border: 1px solid grey;
}*/

/*.mymemes-button{
  margin-top: 15px;
  padding-right: 595px;
  /*border: 1px solid grey;
}*/

/*.my-memes-img{
  padding-left: 4000px;
  margin-top: 800px;
}*/